.avatarList {
  width: 31rem;
  background-color: var(--color-background);
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 1rem var(--color-shadow);
}

.listStyle {
  display: inline-block;
  margin-left: 1.4rem;
  margin-bottom: 1.4rem;
  height: 6rem;
}
