:root {
  --color-primary: rgb(155, 160, 163);
  --color-background: rgb(44, 48, 51);
  --color-shadow: rgb(102, 102, 102);
  --color-title: rgb(249, 249, 249);
  --color-avatar-selected: rgb(122, 161, 178);
}
